# Dependencies
node_modules/

# Logs
*.log

# Environment
.env
.env.*

# Build output
dist/

# Xcode output and user state
ios/build/
ios/DerivedData/
*.xcuserstate
xcuserdata/

# OS artifacts
.DS_Store
Thumbs.db
